# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
.venv/
venv/
.env
.env.local
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Django
*.sqlite3
media/
staticfiles/

# Node
node_modules/
.next/
out/
.npm/

# Docker
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
